<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/blog/list">Blog List</a>
</p>
<form th:action="@{/blog/create}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Blog"></td>
        </tr>
    </table>
    <td>
        <select th:field="*{category}">
            <option th:each="p : ${categorys}" th:value="${p.id}" th:text="${p.name}"></option>
        </select>
    </td>
</form>
</body>
</html>